/* Estilo para a página de Cadastro */

* {
    margin: 0;
    padding: 0;
    perspective: 1000px;
}

body {
    background-color: #131313fa;
}

.cadastro-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

.cadastro-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.cadastro-container label {
    display: ruby;
    margin-top: 10px;
    font-size: 16px;
    margin-right: 95%;
}

.cadastro-container input {
    display: block;
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.cadastro-container button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ee8c0e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Rodapé*/
footer {
    margin-top: -3.9%;
    text-align: center;
    padding: 30px;
    background-color: #030303;
    color: white;
    font-size: 16px;
}